<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896187396809-gc46s18rgvue2qq9cgh7ul03quflo015.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896187396809-gc46s18rgvue2qq9cgh7ul03quflo015</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>896187396809-4gb8bhc34c3ml8ha2c8jed99eilo7ns1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAv5AIw8H89lTzWRUMW3XL1sN-DTXOyrU8</string>
	<key>GCM_SENDER_ID</key>
	<string>896187396809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kihtrak.NOTIBOT</string>
	<key>PROJECT_ID</key>
	<string>notibotapp</string>
	<key>STORAGE_BUCKET</key>
	<string>notibotapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896187396809:ios:0055d567da23b54f669318</string>
	<key>DATABASE_URL</key>
	<string>https://notibotapp.firebaseio.com</string>
</dict>
</plist>